<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="https://kit.fontawesome.com/4d5a638491.js" crossorigin="anonymous"></script>
        <title>html</title>
        <link rel="icon" href="favicon.ico">
        <meta content="Python Projects" property="og:title" />
        <meta content="My projects in Python" property="og:description" />
        <meta content="https://bran.lol/" property="og:url" />
        <meta content="https://media.bran.lol/glaive.png" property="og:image" />
        <meta content="#B4B4B4" data-react-helmet="true" name="theme-color" />
    <body>
        <img src="https://media.bran.lol/bg.gif" id="backvid">
        <div class="headerh">
            <h1>Projects</h1>
        </div>    
        <div>
            <div class="t2">
                <h1>bran bot</h1>
                <div class="languages">
                        <i class="fa-brands fa-python py rem2"></i>
                    </div>
                <p>A discord bot coded using the discord.py Python library.<br> This bot was mostly a learning project for me, but still has a few cool features.</p>
                <h3><strong>Features</strong></h3>
                <ul>
                    <li>Randomised pictures: This bot provides random pictures of cats, dogs, and people, using various APIs.</li>
                    <li>Basic economic system</li>
                    <li>Context menu for messages</li>
                    <li>Dm Logging/sending</li>
                </ul>
            </div>
            <div class="t2">
                <h1>clivebot</h1>
                <div class="languages">
                        <i class="fa-brands fa-python py rem2"></i>
                    </div>
                <p>A discord bot coded using the discord.py Python library.<br> This bot is a fun experiment for my college class.</p>
                <h3><strong>Features</strong></h3>
                <ul>
                    <li>AI Chatbots</li>
                    <li>Random quotes</li>
                </ul>
            </div>
        </div>
    </body>
</html>
