* { 
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: "Comic Neue", cursive;
}

.comic-neue-light {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
  }
  
  .comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  .comic-neue-light-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: italic;
  }
  
  .comic-neue-regular-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: italic;
  }
  
  .comic-neue-bold-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: italic;
  }
  

#backvid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-attachment:fixed;
 }

 .t1 {
    margin: 0 auto;
    margin-top:100px;
    border-radius: 15px;
    background-color: rgba(156, 156, 156, 0.267);
    padding: 20px; 
    width: 450px;
    font-size: large;
 }
 #t1 {
    justify-content: center;
    text-align: center;
    color: rgb(58, 58, 58);
  }

 .header {
    margin-top: 5vw;
    color:rgba(0, 0, 0, 0.801);
    text-align: center;
 }

 body {
    align-items: center;
 }

 #pfp {
    width: 35%;
    border-radius: 50%;
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure margin: 0 auto works */
 }

 .singleCol {
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
}

.social-media-icons-white a {
    color: white;
    font-size: 3vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#discord:hover {
    color:#5865F2;
    scale:1.2;
}

#spotify:hover {
    color: #1DB954;
    scale:1.2;
}

#lastfm:hover {
    color: #C3000D;
    scale:1.2;
}

.b1 {
    display:block;
    text-decoration: none;
    margin-top:100px;
    border-radius: 15px;
    background-color: rgba(156, 156, 156, 0.267);
    padding: 20px; 
    width:100%;
    font-size: large;
    color:white;
}

.b2 {
    display:block;
    text-decoration: none;
    margin-top:100px;
    border-radius: 15px;
    background-color: rgba(156, 156, 156, 0.267);
    padding: 20px; 
    width:100%;
    font-size: large;
    color:white;
}

.b3 {
    display:block;
    text-decoration: none;
    margin-top:100px;
    border-radius: 15px;
    background-color: rgba(156, 156, 156, 0.267);
    padding: 20px; 
    width:100%;
    font-size: large;
    color:white;
}
.b1:hover {
    background-color: rgba(50, 50, 228, 0.733);
    font-weight: bold;
}

.b2:hover {
    background-color: rgba(99, 99, 99, 0.733);
    color: black;
    font-weight:bold;
}

.b3:hover {
    background-color: rgba(243, 174, 226, 0.733);
    font-weight: bold;
}