<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="/static/styles.css">
        <meta content="Page not found" property="og:title" />
        <meta content="This page does not exist" property="og:description" />
        <meta content="https://bran.lol/" property="og:url" />
        <meta content="https://media.bran.lol/glaive.png" property="og:image" />
        <meta content="#B4B4B4" data-react-helmet="true" name="theme-color" />
    <body>
        <img src="https://media.bran.lol/bg.gif" id="backvid">
        Page not found
    </body>
    <style>
      body {
      background-color: #1a1a1a;
      font-size: 2rem;
      text-align: center;
      margin-top: 25%;
    }
    </style>
</html>
