<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="favicon.ico">
        <meta content="Page not found" property="og:title" />
        <meta content="This page does not exist" property="og:description" />
        <meta content="https://bran.lol/" property="og:url" />
        <meta content="https://media.bran.lol/glaive.png" property="og:image" />
        <meta content="#B4B4B4" data-react-helmet="true" name="theme-color" />
    <body>
        Page not found
    </body>
    <style>
      body {
      background-color: #1a1a1a;
      color: #b4b4b4;
      font-family: Arial, sans-serif;
      font-size: 2rem;
      text-align: center;
      margin-top: 25%;
    }
    </style>
</html>
