<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="https://kit.fontawesome.com/4d5a638491.js" crossorigin="anonymous"></script>
        <title>html</title>
        <link rel="icon" href="favicon.ico">
        <meta content="Webdev Projects" property="og:title" />
        <meta content="My projects in HTML, CSS, JS etc" property="og:description" />
        <meta content="https://bran.lol/" property="og:url" />
        <meta content="https://github.com/blulw/bran.lol/blob/media/glaive.png?raw=true" property="og:image" />
        <meta content="#B4B4B4" data-react-helmet="true" name="theme-color" />
    <body>
        <img src="https://github.com/blulw/bran.lol/blob/media/bg.gif?raw=true" id="backvid">
        <div class="headerh">
            <h1>Projects</h1>
        </div>    
        <div class="singleCol">
            <div class="t2">
                <a href="./">
                    <img src="https://github.com/blulw/bran.lol/blob/media/ts.png?raw=true" class="ts">
                </a>
                <p>this site lol</p>
            </div>
        </div>
    </body>
</html>
